

<div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">

   <%= image_tag "logo.png", class: "imagem_login" %>

  
  <div class="login_position">
    <!-- <h4 class="h4_login"> CADASTRAR</h4> -->
    <h4 class="h4_login">Espertinho! Tentando sacanear um novato né.</h4>

   <!-- <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.label :nome, class: "label_login" %>
        <%= f.text_field :nome, class: "form-control", placeholder: "Digite seu nome" %>
      </div>

      <div class="form-group">
        <%= f.label :email, class: "label_login" %><br />
        <%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Digite seu email" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "label_login" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Digite sua senha" %>
      </div>

      <div class="form-group">
        <%= f.label :password_confirmation, class: "label_login" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirme sua senha" %>
      </div>

      <div>
        <%= f.submit "CRIAR CADASTRO", class: "btn btn-primary botao_login" %>
      </div>
    <% end %>
  </div>
  <p style="text-align: center; margin-top: 12px;" class="label_login">Já tem cadastro?</p>
    <div class="botao_cadastro">
      <%= link_to "ACESSAR", new_session_path(resource_name), class: "btn btn-default" %>
    </div>
</div> -->

<!-- <%= render "users/shared/links" %>  -->
